.mainPage {
  z-index: 2;
  padding: 2rem 1rem;
  width: 100%;
}

.topBackground {
  position: absolute;
  z-index: -1;
  top: 0%;
  left: 0%;
  width: 100%;
  height: clamp(15rem, 25vw, 18.7rem);
  border-radius: 0 0 1rem 1rem;
}

@media (min-width: 1024px) {
  .mainPage {
    padding-inline: clamp(2rem, 10vw, 10rem);
    padding-block: clamp(2rem, 10vw, 4rem);
  }
}

/* Theme Switch */

/* Dark */
[data-theme="dark"] .topBackground {
  background-color: var(--top-bg-dark);
}


/* Light */
[data-theme="light"] .topBackground {
  background-color: var(--top-bg-light);
}