.overviewHeading {
  font-size: 1.6rem;
  margin-block: 3rem 2rem;;
}

.overviewStatsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}

/* Theme Switch */

/* Dark */
[data-theme="dark"] .overviewHeading {
  color: var(--text-white-dark);
}


/* Light */
[data-theme="light"] .overviewHeading {
  color: var(--text-white-light);
}