.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.appName {
  font-size: 1.6rem;
  margin-block-end: 0.4rem;
}

.totalFollowers {
  font-weight: var(--fw-700);
  margin-block-end: 1.5rem;
}

.divider {
  background-color: none;
  border: none;
  border-top: solid 0.15rem;
}

.toggleTheme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;
}

.currentTheme {
  font-weight: var(--fw-700);
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  margin-block: 1rem;
}

/* Theme Switch */

/* Dark */
[data-theme="dark"] .appName {
  color: var(--text-white-dark);
}

[data-theme="dark"] .totalFollowers {
  color: var(--text-gray-dark);
}

[data-theme="dark"] .currentTheme {
  color: var(--text-gray-dark);
}

[data-theme="dark"] .divider {
  border-color: var(--card-bg-dark);
}





/* Light */
[data-theme="light"] .appName {
  color: var(--text-dark-light);
}

[data-theme="light"] .totalFollowers {
  color: var(--text-gray-light);
}

[data-theme="light"] .currentTheme {
  color: var(--text-gray-light);
}

[data-theme="light"] .divider {
  border-color: var(--text-gray-dark);
}